<!DOCTYPE html>
<html>
  <head>
    <title>New Addition</title>
  </head>
  <body>
    <%= render "calculations/shared_header" %>
    
    <h1>New Addition</h1>
    <form action="/add/results">
      <div>
        <label for="first_number">Add this:</label>
        <input type="text" name="first_number" id="first_number">
      </div>

      <div>
        <label for="second_number">to this:</label>
        <input type="text" name="second_number" id="second_number">
      </div>

      <button>Add!</button>
    </form>
  </body>
</html>
