<!DOCTYPE html>
<html>
  <head>
    <title>Addition Results</title>
  </head>
  <body>
    <%= render partial: "shared_header" %>
    
    <h1>Addition Results</h1>

    <p><%= @first %> plus <%= @second %> is equal to <%= @result %></p>

    <a href="/add">Do another addition</a>
  </body>
</html>
