<!DOCTYPE html>
<html>
  <head>
    <title>Division Results</title>
  </head>
  <body>
    <%= render partial: "shared_header" %>
    
    <h1>Division Results</h1>

    <p><%= @first %> divided by <%= @second %> is equal to <%= @result %></p>

    <a href="/add">Do another division</a>
  </body>
</html>
