<!DOCTYPE html>
<html>
  <head>
    <title>Multiplication Results</title>
  </head>
  <body>
    <%= render partial: "shared_header" %>
    
    <h1>Multiplication Results</h1>

    <p><%= @first %> times <%= @second %> is equal to <%= @result %></p>

    <a href="/add">Do another multiplication</a>
  </body>
</html>
