<!DOCTYPE html>
<html>
  <head>
    <title>New Multiplication</title>
  </head>
  <body>
    <%= render partial: "shared_header" %>
    
    <h1>New Multiplication</h1>

    <form action="/multiply/results">
      <div>
        <label for="first_number">Multiply this:</label>
        <input type="text" name="first_number" id="first_number">
      </div>

      <div>
        <label for="second_number">by this:</label>
        <input type="text" name="second_number" id="second_number">
      </div>

      <button>Multiply!</button>
    </form>
  </body>
</html>
